* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url('../images/3.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    opacity: 0.8;

}
.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:black;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.header h1{
    font-size: 50px;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: white;
    font-weight: bold;
    margin: 20px 0px;
}
.header p{
    font-size: 34px;
    margin: 20px 0px;
    color: wheat;
}
.header button{
    text-align: center;
    padding: 10px 20px;
    background-color:rgb(135, 135, 180);
    font-size: 15px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
}
nav{
    background-color: rgb(149, 160, 179);
    height: 80px;
    width: 100%;
}
label.logo{
    color: rgb(23, 60, 225);
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 100px;
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    margin:0 5px;
    line-height: 80px;
}
nav ul li a{
    list-style: none;
    color: white;
    font-size: 17px;
    font-weight: bold;

    padding: 10px;
    border-radius: 10px;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    .header{
       
    }
    .header h1{
        font-size: 34px;
    }
    .header p{
        font-size:17px;
    }
    ul{
      position: fixed;
      width: 50%;
      height: 100vh;
      background: #0b6ac9;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
